<p id="notice"><%= notice %></p>

<p>
  <strong>Theme:</strong>
  <%= @observation.theme_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @observation.body %>
</p>

<%= link_to 'Edit', edit_observation_path(@observation) %> |
<%= link_to 'Back', observations_path %>
