<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @body.post_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @body.body %>
</p>

<%= link_to 'Edit', edit_body_path(@body) %> |
<%= link_to 'Back', bodies_path %>
