<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @title.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @title.body %>
</p>

<%= link_to 'Edit', edit_title_path(@title) %> |
<%= link_to 'Back', titles_path %>
